*{
    padding: 0%;
    margin: 0%;
   
}

body{
    background-color: #FFFBEA;
    
}
/*.front_section{
  background-image: url("../img/butik_drawing.png");
    background-size: cover;
    width: auto;
    height: 100vh;

}*/

.grid_1-1-1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
}
.grid_1-1{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


.h1_forside{
    position: relative;
    left: 35%;
    top: 2vw ;
}
.col_center{
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    flex-direction:column;
}
button{
    width: 15vw;
    height: auto;
    
}
section{
    overflow: hidden;
}

.bak_contack{
    right: 17vh;
    top: 3.5vh;
    position: relative;
}
.img_forside{
    position: relative;
    width: 85vw;
    height: 100vh;
    left: 14vh;
    top: 4vh;
    z-index: -1;
    display: block;
}

.kontakt_tekst{
    top: 7vw;
    position: relative;
 }

 .tekst_mellemrum{
    position: relative;
    top: 1.5vw;
}


.menu_afstand h2 {
    position: relative;
    top: 5vw;
    grid-column: 2;

}

.menu_afstand :nth-child(2){
    position: relative;
    
    grid-column: 1/-1;
    
}

.menu_afstand :nth-child(3){
    position: relative;
    top: 2vw;
    grid-column: 1/-1;
}

.menu_afstand :nth-child(4){
    position: relative;
    top: 2vw;
    grid-column: 1/-1;
}

.menu_afstand .tekst_knap_p{
    grid-template-columns: 2;
   
}

.menu_afstand .tekst_knap_p button{
    position: relative;
    left: 42%;
}

.menu_afstand :nth-child(5){
    position: absolute;
    top: 1760px;
    
  
}

.menu_afstand :nth-child(6){
    left: 70%;
    position:absolute;
}

.grøntsager_tegning{
    position: absolute;
    left: 75%;
    top: 123rem;
}

.map_side .mapFirst_h2{
    grid-column: 1;
    grid-row: 1;
  

}
.map_side h2{
    position: relative;
    top: 20%;
}
.map_side ol, iframe{
    position: relative;
    bottom: 40%;
}
.map_side ol{
    grid-column: 1;
    grid-row: 2;
}
.col_row{
    display: flex;
    justify-content: space-evenly;
}
.footer_tekst{
    position: relative;
    top: 10%;
    line-height: 2em;
}

.top_spacing{
    position: relative;
    top: 5vw;
}
.top_spacing2{
    position: relative;
    top: 7vw;
}

.top_spacing_h1{
    position: relative;
    top: 3vw;
}

.menu_design h2{
    position: relative;
    left: 10vh;
}
.menu_design div{
    position: relative;
    left: 10vh;
    top: 1vh;
}
.menu_section1{
    position: relative;
    top: 2vh;
    width: 100%;
    height: 50vh;
}
.menu_section1 div{
    position: relative;
    padding: 0.4rem;
}
.menu_section2{
    position: relative;
    top: 1vh;
    width: 100%;
    height: 50vh;
}
.menu_section2 div{
    position: relative;
    padding: 0.4rem;
}
.menu_section3{
    position: relative;
    bottom: 1vh;
    width: 100%;
    height: 50vh;
}

.menu_section3 div p{
    position: relative;
    padding: 0.3rem;
}
#body_menu footer{
    width: 100%;
    height: 20vh;
    position:relative;
    top: 20vh;
}
#menu_main{
    overflow: hidden;
}